<div class="row">
    <div class="span9 main">
        <div class="row" ng-repeat="entry in entries">
            <div class="span9">
                <div class="bg"></div>
                <div class="overlay">
                    <div class="content">
                        <a class="clip-open" href="#">
                            <h3>{$$ entry.title $$}</h3>
                        </a>
                        <div class="meta clips-note">
                            <div ng-bind-html="entry.html_content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
