<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="#!/">{$$ 'HOME' | translate $$}</a>
            </li>
            <li><a href="#!/admin/entry/{$$ entry_id $$}">{$$ 'EDIT_ENTRY' | translate $$}</a></li>
            <li class="active">{$$ 'CREATE_ENTRY_TRANSLATION' | translate $$}</li>
        </ol>
    </div>
</div>

<!-- CREATE ENTRY TRANSLATION FORM -->
<div class="col-lg-12">
    <h1 class="page-header">{$$ 'CREATE_ENTRY_TRANSLATION' | translate $$}</h1>
</div>


<div class="panel panel-default">
  <div class="panel-body">

        <div id="non_field_errors" class="alert alert-danger" ng-show="non_field_errors">{$$ non_field_errors $$}</div>

        <form ng-submit="processCreateTranslationForm()">

            <!-- LANGUAGE -->
            <div id="language-group" class="form-group" ng-class="{ 'has-error' : errorLanguage }">
                <label>{$$ 'ENTRY_LANGUAGE' | translate $$}</label>
                <select class="form-control" name="language" ng-model="translation.language">
                    <option value="">{$$ 'PLEASE_SELECT' | translate $$}</option>
                    <option value="es">{$$ 'SPANISH' | translate $$}</option>
                    <option value="fr">{$$ 'FRENCH' | translate $$}</option>
                </select>
                <span class="help-block" ng-show="errorLanguage">{$$ errorLanguage $$}</span>
            </div>

            <!-- TITLE -->
            <div id="title-group" class="form-group" ng-class="{ 'has-error' : errorTitle }">
                <label>{$$ 'ENTRY_TITLE' | translate $$}</label>
                <input type="text" name="title" class="form-control" placeholder="{$$ 'ENTRY_TITLE' | translate $$}" ng-model="translation.title">
                <span class="help-block" ng-show="errorTitle">{$$ errorTitle $$}</span>
            </div>

            <!-- CONTENT -->
            <div id="content-group" class="form-group" ng-class="{ 'has-error' : errorContent }">
                <label>{$$ 'CONTENT' | translate $$}</label>
                <textarea class="form-control" name="content" ng-model="translation.content" rows="10" ng-change='markdownToHtml()'></textarea>
                <span class="help-block" ng-show="errorContent">{$$ errorContent $$}</span>
            </div>
            <div class='markdown-preview' ng-bind-html='PreviewHTML' /></div>

            <!-- SUBMIT BUTTON -->
            <button type="submit" class="btn btn-success btn-lg btn-block">
                {$$ 'SAVE' | translate $$}
            </button>
            <button type="button" ng-click="cancelCreate()" class="btn btn-lg btn-block">
                {$$ 'CANCEL' | translate $$}
            </button>

        </form>
    </div>
</div>
