<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="#!/">{$$ 'HOME' | translate $$}</a>
            </li>
            <li><a href="#!/entry/{$$ entry.id $$}">{$$ entry.title $$}</a></li>
            <li class="active">{$$ 'EDIT_ENTRY' | translate $$}</li>
        </ol>
    </div>
</div>

<!-- EDIT ENTRY FORM -->
<div class="col-lg-12">
            <!-- Split button -->
        <div class="btn-group" style="float:right;">
          <button type="button" class="btn btn-primary">{$$ 'TRANSLATIONS' | translate $$}</button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
                <li><a href="#!/admin/entry/{$$ entry.id $$}/translations/create/">{$$ 'CREATE_TRANSLATION' | translate $$}</a></li>
                <li ng-repeat="tx in translations"><a href="#!/admin/entry/{$$ entry.id $$}/translations/{$$ tx.id $$}">{$$ 'EDIT_TRANSLATION_FOR' | translate:{value:tx.language} $$}</a></li>
          </ul>
        </div>
    <h1 class="page-header">{$$ 'EDIT_ENTRY' | translate $$}</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">

        <div id="non_field_errors" class="alert alert-danger" ng-show="non_field_errors">{$$ non_field_errors $$}</div>

        <form ng-submit="processEntryForm()">
            <!-- TITLE -->
            <div id="title-group" class="form-group" ng-class="{ 'has-error' : errorTitle }">
                <label>{$$ 'ENTRY_TITLE' | translate $$}</label>
                <input type="text" name="title" class="form-control" placeholder="{$$ 'ENTRY_TITLE' | translate $$}" ng-model="entry.title">
                <span class="help-block" ng-show="errorTitle">{$$ errorTitle $$}</span>
            </div>

            <!-- IMAGE -->
            <div id="image-group" class="form-group" ng-class="{ 'has-error' : errorImage }">
                <label>{$$ 'IMAGE' | translate $$}</label>
                <input type="file" ng-file-select="onFileSelect($files)" >
                <span class="success" ng-show="successImage">{$$ successImage $$}</span>
                <span class="help-block" ng-show="errorImage">{$$ errorImage $$}</span>
            </div>

            <!-- CONTENT -->
            <div id="content-group" class="form-group" ng-class="{ 'has-error' : errorContent }">
                <label>{$$ 'CONTENT' | translate $$}</label>
                <textarea class="form-control" name="content" ng-model="entry.content" rows="10" ng-change='markdownToHtml()'></textarea>
                <span class="help-block" ng-show="errorContent">{$$ errorContent $$}</span>
            </div>
            <div class='markdown-preview' ng-bind-html='PreviewHTML' /></div>

            <!-- PUBLISHED -->
            <div id="published-group" class="form-inline" ng-class="{ 'has-error' : errorPublished }">
                <label class="checkbox">{$$ 'PUBLISHED' | translate $$}
                    <input type="checkbox" name="published" class="form-control" ng-model="entry.published">
                </label>
                <span class="help-block" ng-show="errorPublished">{$$ errorPublished $$}</span>
            </div>

            <!-- SUBMIT BUTTON -->
            <button type="submit" class="btn btn-success btn-lg btn-block">
                {$$ 'SAVE' | translate $$}
            </button>
            <button type="button" ng-click="cancelEdit()" class="btn btn-lg btn-block">
                {$$ 'CANCEL' | translate $$}
            </button>
            <button type="button" ng-click="deleteEntry()" class="btn btn-danger btn-lg btn-block">
                {$$ 'DELETE' | translate $$}
            </button>
        </form>
    </div>
</div>
