<div class="row">
    <div class="span9 main">
        <div class="row">
            <div class="span9">
                <h3>{$$ entry.title $$}</h3>
                <img ng-show="entry.image_full_url" src="{$$ entry.image_full_url $$}" />
                <div ng-bind-html="entry.content"></div>
                <p>
                    <small>{$$ entry.created_on $$}</small>
                    <small><b>by</b> {$$ entry.author $$}</small>
                </p>
            </div>
        </div>
    </div>
</div>
